{% extends 'base.html.twig' %}

{% block title %}Signup{% endblock %}

{% block body %}
    <h1>Create new account</h1>
    {{ form_start(signUpForm) }}
    {{ form_widget(signUpForm) }}

    <button type="submit">Create!</button>
    {{ form_end(signUpForm) }}
{% endblock %}